<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
<h1>{{ title }}</h1>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>